/*__Font import__*/

@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

@font-face {
  src: url('fonts/bruphy.woff2') format('woff2-variations');
  font-family: 'Bruphy';
  font-style: normal;
}

@font-face {
	font-family: 'DuosWrite';
	src: url("fonts/DuosWrite-VF.woff2") format("woff2");
	font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('fonts/Commune.otf');
  font-family: 'Commune';
  font-style: normal;
}

@font-face {
	src: url('fonts/BoxoutVariableGX.woff2') format('woff2-variations');
	font-family:'Boxout';
	font-style: normal;
}

@font-face {
  font-family: "Kyiv";
  src: url('fonts/KyivTypeTitling-VarGX.ttf');
  font-variation-settings: "wght" 600, "CONT" 800, "MIDL" -1000;
}

@font-face {
  font-family: "SportingGrotsque";
  src: url('fonts/Sporting_Grotesque-Regular_web.otf');
}

@font-face {
  font-family: "Syne";
  src: url('fonts/syne.ttf');
  font-variation-settings: "wght" 800;
}

/*__Root__*/

:root {
  --view-mode: 75%;
  --color-contrast: white;
  --spacing: calc(2rem + 5vw);
}

:root.is-fullscreen {
  --view-mode: 100%;
}

body * {
  scrollbar-width: none; 
}

*:-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  font-size: 16px;
}

body {
  font-family: "Suisse Int'l Book", sans-serif;
  line-height: 1;
}

.wrapper {
  height: max-content;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

header a.is-active:before {
}

header a:hover:before {
  /*content: "↘ ";*/
}

header a:hover{
  cursor: pointer;
}

footer {
  width: 100%;
  padding: calc(var(--spacing) * 1.5) var(--spacing) var(--spacing) var(--spacing);
}

/*__Swup__*/

.transition-fade {
  transition: .4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.transition-left {
  opacity: 1;
  transition: 1s;
  animation-name: slideInRight;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.19, 1, .22, 1);
}

@keyframes slideInRight {
  from {
      -webkit-transform: translate3d(10vw, 0, 0);
      transform: translate3d(10vw, 0, 0);
  }

  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

html.is-animating .transition-left {
  opacity: 0;
  animation-name: slideOutLeft;
  animation-duration: 2s;
}

@keyframes slideOutLeft {
  from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }

  to {
      -webkit-transform: translate3d(-10vw, 0, 0);
      transform: translate3d(-10vw, 0, 0);
  }
}

/*__Splitting__*/

/*.splitting .word {
  white-space: nowrap;
}

.splitting .char {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#index > .gallery > ol > li:hover > .splitting .char  {
  color: transparent;
}

#index > .gallery > ol > li > .splitting .char:after {
  visibility: visible;
  position: absolute;
  color: whitesmoke;
  animation: slideIn .5s ease-out;
  animation-fill-mode: both;
  animation-delay: calc( .025s * var(--char-index) );
}

#index > .gallery > ol > li:hover > .splitting .char:after  {
  content: attr(data-char);
}*/

.splitting .word {
  white-space: nowrap;
  padding: 20px 0;
  margin: -22.5px -.5px;
}

.splitting .word {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.splitting .word  {
  color: transparent;
}

main.index .splitting.on .word:after {
  color: white;
  animation-duration: .25s;
}

main.reveal .splitting.on .word:after {
  color: white;
}

.splitting.on .word:after {
  visibility: visible;
  position: absolute;
  color: black;
  animation: slideIn 1s ease-out;
  animation-fill-mode: both;
  animation-delay: calc( .025s * var(--word-index) );
}

.splitting.on .word:after  {
  content: attr(data-word);
}
  
@keyframes slideIn {
  from { transform: translateX(-300%); }
  to { transform: translateX(-100%); }
}

/*__Helpers__*/

.keep {
  white-space: nowrap;
}

.has-text-responsive {
  font-size: calc(100vw / var(--char-total));
}

.has-text-small {
  font-size: calc(1rem + .5vw);
  letter-spacing: -0.01rem;
}

.has-text-normal {
  font-size: calc(1.25rem + .5vw);
  letter-spacing: -0.01rem;
}

.has-text-big {
  font-size: calc(1.75rem + .5vw);
}

.has-text-biggest {
  font-size: calc(2.5rem + .5vw);
  margin: 0;
  font-family: "SportingGrotsque", sans-serif;
  line-height: 1.05;
}

.has-bg-gradient {
  background: linear-gradient(0deg, rgba(240,0,0,1) 0%, rgba(255,255,255,0) 100%); 
}

.has-cursor-pointer {
  cursor: pointer;
}

.no-fullscreen {
  display: none !important;
}

.backgrounds > .has-bg-animated.present {
  animation-name: animation;
  animation-duration: 4s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
  animation-play-state: running;  
  animation-delay: .1s;
}

.backgrounds > .has-bg-animated > .slide-background-content {
  mix-blend-mode: darken;
}

@keyframes animation {
  0%     {background-color:red;}
  27.5%  {background-color: white;}
  80.0%  {background-color:red;}
  100.0%  {background-color:red;}
}

/*__Page > Index__*/

main.index.wrapper {
  background-color: red;
  color: black;
}

main.index > header {
  padding: var(--spacing);
}

#index {
  /*display: flex;*/
}

.sort {
  z-index: +1;
  display: inline-block;
  padding-bottom: var(--spacing);
}

#index > .index.gallery {
  padding: 0 var(--spacing);
  text-align: center;
}

.list {
  display: grid;
}

#index > .index.gallery > .list {
  grid-gap: calc(var(--spacing) / 5);
}

#index > .index.tags > .list {
  grid-gap: 2px;
}

#index > .index > ol > li {
  /*opacity: .1;*/
  display: grid;
}

#index > .index.tags > ol > li {
  /*border-radius: 10vw;
  border: 2px solid;
  padding: var(--spacing) 20px;*/
  font-family: "Syne";
  text-transform: uppercase;
  margin: 2px;
  font-size: 1rem;
}

#index > .index.tags > ol > li:before {
  content: "↘ ";
}

#index > .index > ol > li:hover {
  opacity: 1;
}

#index > .index.gallery > ol > li {
  background-color: rebeccapurple;
  border-radius: 40px;
}

#index > .index.gallery > ol > li > .aspectratio {
  height: 0;
  width: 100%;
  padding-top: 56.25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: dimgray;
  border-radius: 40px 40px 0 0; 
}

#index > .index.gallery > ol > li > .aspectratio > a {
  display: none;
  border-radius: 40px 40px 0 0;
}

#index > .index.gallery > ol > li:hover > .aspectratio > a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  padding: calc(56.25% / 2) 0;
  background-color: rgba(1,1,1,0.9);
  font-family: "Suisse Int'l";
  font-size: 5rem;
  z-index: +1;
}

.tile {
  opacity: 0;
}

.an-in {
  animation: scale-in-ver-bottom .5s ease-out both;
}

@keyframes scale-in-ver-bottom {
  0% {
    transform: translateY(100%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}

/*table {
  table-layout: fixed;
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
  text-align: left;
  z-index: +1;
}

tbody {
  mask-image: linear-gradient(0deg, transparent, rgb(0, 0, 0), transparent);
}

th {
  font-weight: normal;
  padding: var(--spacing);
}

tbody > tr {
  opacity: .1;
}

tbody > tr:hover {
  opacity: 1;
}

tbody > tr:hover > td:first-of-type {
  font-family: "Syne";
  text-transform: uppercase;
  line-height: .8;
  font-size: 5vw;
}

tbody > tr:hover > td:first-of-type > img {
  margin-bottom: 40px;
}

tbody > tr:hover > td:first-of-type > a {
  padding-bottom: 40px;
}

tbody > tr:hover > td:last-of-type {
  font-family: "Syne";
  font-variation-settings: "wght" 500;
  opacity: .1;
}

td {
  padding: 0 var(--spacing);
}

tr:last-of-type > td:first-of-type {
  padding: 0 0 var(--spacing) 25%;
}

tr:last-of-type > td:last-of-type {
  padding: 0 0 var(--spacing) 25%;
}*/

.sort.asc:after {
  content:" ↑";
}

.sort.desc:after {
  content:" ↓";
}

/*__Page > About__*/

main.about.wrapper {
  background-color: white;
  color: black;
  /*border-radius: 100vw 100vw 0 0;*/
}

main.about > header {
  padding: 10vh var(--spacing) 10vh var(--spacing);
  /*background-image: url(/assets/hands.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;*/
}

main.about > footer {
  padding: calc(var(--spacing) * 1.5) var(--spacing) var(--spacing) var(--spacing);
}

#ego {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--spacing);
}

#portrait {
  object-fit: contain;
  object-position: center;
  height: 40vh;
  max-width: 60vw;
  transform-style: preserve-3d;
  animation: rotate3d 60s linear 0s infinite normal;
  position: fixed;
  z-index: 10;
}

@keyframes rotate3d {
  from {
      transform: rotateX(-360deg) rotateY(-360deg) rotateZ(-360deg);
      transform-origin: 50% 50%;
  }
  to {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
      transform-origin: 50% 50%;
  }
}

.duos {
  font-family: 'Boxout', 'Pinyon Script', cursive; 
  text-align: center; 
  animation: write 2s ease-in;
  animation-fill-mode: forwards;
  font-size: calc(3rem + 5vw);
  padding-bottom: 5px;
}

@keyframes write {
  0% {font-variation-settings: "ANIM" 0;}
  100% {font-variation-settings: "ANIM" 750;} 
}

/*__Page > Reveal__*/

main.reveal > header {
  color: var(--color-contrast);
  padding: var(--spacing);
}

main.reveal > footer {
  color: var(--color-contrast);
}

#nav-zone {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: +150;
  overflow: scroll;
  cursor: none;
}

#nav-zone > a {
  cursor: none;
}

.nav-slides {
  position: inherit !important;
  height: 100%;
  width: 50%;
  pointer-events: auto;
}

#cursor {
  position: fixed;
  pointer-events: none;
  font-size: 0;
  color: var(--color-contrast);
  opacity: .1;
}

#back-to-index {
  color: white;
  padding: 10px;
  z-index: 1000;
  width: 50%;
  float: right;
}

.on-top {
  z-index: 100 !important;
}

#slideshow-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#slideshow-container.is-fullscreen {
  height: 100vh;
  width: 75vw;
  top: 0;
  z-index: +50;
}

.reveal .slide-background {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.reveal .slide-background-content {
  height: var(--view-mode) !important;
  max-height: 1080px;
}

.project-dida-container {
  height: 90%;
  cursor: default;
  color: white;
  display: grid;
  text-align: left;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.project-dida-container > .title {
  grid-area: title;
}

.project-dida-container > .dida {
  grid-area: dida;
  /*text-indent: 25%;*/
}

/*__Responsive__*/

@media screen and (max-width: 976px) {
  header {
    grid-template-columns: repeat(2, 1fr);
  }
  #ego {
    grid-template-columns: 1fr;
  }
  main.about > h4 {
    padding: 0 var(--spacing) 0 var(--spacing);
  }
  #cursor {
    opacity: 0;
  }
  #nav-zone {
    cursor: default;
  }
  #logo {
    padding-bottom: 25vh;
    max-height: 75vh;
  }
  .only-desktop {
    display: none;
  }
  .only-mobile {
    display: block;
  }
  .list {
    grid-template-columns: repeat(auto-fit, minmax(calc(120px + 20vw), 1fr));
  }
  .project-dida-container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: scroll;
    grid-template-areas:
      "title"
      "dida";
  }
  .project-dida-container > .title {
    /*background-color: red;
    color: black;*/
    padding: 10px;
  }
  .project-dida-container > .dida {
    padding: 10px;
  }
  tbody > tr:hover > td:first-of-type {
    text-align: center;
  }
  th:last-of-type {
    padding: var(--spacing);
  }
  td:first-of-type {
    padding-left: 50%;
  }
  .index.gallery {
    width: 100% !important;
    padding: 0 var(--spacing);
  }
}

@media screen and (max-width: 976px) and (orientation: portrait) {
  /*.has-text-small {
    font-size: calc(1rem + 8vw);
  }
  .has-text-normal {
    font-size: calc(1rem + 8vw);
  }*/
  #logo {
    padding: 0 10vw 20vw 10vw;
  }
  td:first-of-type {
    padding: 0 var(--spacing);
  }
}

@media screen and (min-width: 977px) {
  .only-mobile {
    display: none;
  }

  main.about > h4 {
    padding: 0 var(--spacing) 0 var(--spacing);
    column-count: 3;
  }

  .list {
    grid-template-columns: repeat(auto-fit, minmax(calc(240px + 20vw), 1fr));
  }

  .project-dida-container {
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "title title"
      "dida dida";
  }
  
  .project-dida-container > .title {
    /*background-color: red;
    color: black;*/
    padding: 10px 10px 10px 0;
    overflow: scroll;
  }

  .project-dida-container > .dida {
    padding: 10px 10px 10px 0;
    overflow: scroll;
  }
}