/*__ HK Grotesk __*/


@font-face {
  font-family: 'HKGrotesk';
      src: url('fonts/HKGrotesk/HKGrotesk-Bold.eot') format('eot'),
      url('fonts/HKGrotesk/HKGrotesk-Bold.woff') format('woff'),
      url('fonts/HKGrotesk/HKGrotesk-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
}

/* @font-face {
  font-family: 'HKGrotesk';
      src: url('fonts/HKGrotesk/HKGrotesk-BoldItalic.eot') format('eot'),
      url('fonts/HKGrotesk/HKGrotesk-BoldItalic.woff') format('woff'),
      url('fonts/HKGrotesk/HKGrotesk-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: bold;
} */

@font-face {
  font-family: 'HKGrotesk';
      src: url('fonts/HKGrotesk/HKGrotesk-Black.eot') format('eot'),
      url('fonts/HKGrotesk/HKGrotesk-Black.woff') format('woff'),
      url('fonts/HKGrotesk/HKGrotesk-Black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}

@font-face {
	font-family: 'Maison';
	src: url('fonts/Maison/Maison-Bold.woff2') format('woff2'),
		url('fonts/Maison/Maison-Bold.woff') format('woff'),
		url('fonts/Maison/Maison-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}