/*__ HK __*/


@font-face {
  font-family: 'HankenGroteskRegular';
  src: url('fonts/HK/HankenGrotesk-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'HankenGroteskMedium';
  src: url('fonts/HK/HankenGrotesk-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'HKGroteskRegular';
  src: url('fonts/HK/HKGrotesk-Regular.eot') format('eot'),
  url('fonts/HK/HKGrotesk-Regular.woff') format('woff'),
  url('fonts/HK/HKGrotesk-Regular.woff2') format('woff2'),
  url('fonts/HK/HKGrotesk-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'HKGroteskMedium';
  src: url('fonts/HK/HKGrotesk-Medium.eot') format('eot'),
  url('fonts/HK/HKGrotesk-Medium.woff') format('woff'),
  url('fonts/HK/HKGrotesk-Medium.woff2') format('woff2'),
  url('fonts/HK/HKGrotesk-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}


/*__ Minipax __*/


@font-face {
  font-family: 'MinipaxMedium';
  src: url('fonts/minipax/Minipax-Medium.eot') format('eot'),
  url('fonts/minipax/Minipax-Medium.woff') format('woff'),
  url('fonts/minipax/Minipax-Medium.woff2') format('woff2'),
  url('fonts/minipax/Minipax-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

/* @font-face {
  font-family: 'MinipaxRegular';
  src: url('fonts/minipax/Minipax-Regular.eot') format('eot'),
  url('fonts/minipax/Minipax-Regular.woff') format('woff'),
  url('fonts/minipax/Minipax-Regular.woff2') format('woff2'),
  url('fonts/minipax/Minipax-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
} */


/*__ Avara __*/


@font-face {
  font-family: 'Avara_Bold';
  src:    url('fonts/Avara/Bold/Avara-Bold_web.eot');
  src:    url('fonts/Avara/Bold/Avara-Bold_web.eot?#iefix') format('embedded-opentype'),
          url('fonts/Avara/Bold/Avara-Bold_web.woff') format('woff'),
          url('fonts/Avara/Bold/Avara-Bold_web.woff2') format('woff2'),
          url('fonts/Avara/Bold/Avara-Bold_web.ttf') format('truetype'),
          url('fonts/Avara/Bold/Avara-Bold_web.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avara_Bold_Italic';
  src:    url('fonts/Avara/BoldItalic/Avara-Bold_Italic_web.eot');
  src:    url('fonts/Avara/BoldItalic/Avara-Bold_Italic_web.eot?#iefix') format('embedded-opentype'),
          url('fonts/Avara/BoldItalic/Avara-Bold_Italic_web.woff') format('woff'),
          url('fonts/Avara/BoldItalic/Avara-Bold_Italic_web.woff2') format('woff2'),
          url('fonts/Avara/BoldItalic/Avara-Bold_Italic_web.ttf') format('truetype'),
          url('fonts/Avara/BoldItalic/Avara-Bold_Italic_web.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avara_Black';
  src:    url('fonts/Avara/Black/Avara-Black_web.eot');
  src:    url('fonts/Avara/Black/Avara-Black_web.eot?#iefix') format('embedded-opentype'),
          url('fonts/Avara/Black/Avara-Black_web.woff') format('woff'),
          url('fonts/Avara/Black/Avara-Black_web.woff2') format('woff2'),
          url('fonts/Avara/Black/Avara-Black_web.ttf') format('truetype'),
          url('fonts/Avara/Black/Avara-Black_web.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
