/*__ Ortica __*/


@font-face {
  font-family: 'OrticaBold';
  src: url('fonts/Ortica/Ortica-Bold.otf') format('opentype'),
  url('fonts/Ortica/Ortica-Bold.woff') format('woff'),
  url('fonts/Ortica/Ortica-Bold') format('woff2');
  font-style: normal;
  font-weight: bold;
}