/*__ HK Grotesk __*/


@font-face {
  font-family: 'HKGrotesk';
  src: url('fonts/HKGrotesk/HKGrotesk-Bold.eot') format('eot'),
      url('fonts/HKGrotesk/HKGrotesk-Bold.woff') format('woff'),
      url('fonts/HKGrotesk/HKGrotesk-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

/* @font-face {
  font-family: 'HKGrotesk';
      src: url('fonts/HKGrotesk/HKGrotesk-BoldItalic.eot') format('eot'),
      url('fonts/HKGrotesk/HKGrotesk-BoldItalic.woff') format('woff'),
      url('fonts/HKGrotesk/HKGrotesk-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: bold;
  font-display: swap;
} */

/* @font-face {
  font-family: 'HKGrotesk';
      src: url('fonts/HKGrotesk/HKGrotesk-Black.eot') format('eot'),
      url('fonts/HKGrotesk/HKGrotesk-Black.woff') format('woff'),
      url('fonts/HKGrotesk/HKGrotesk-Black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
} */

@font-face {
  font-family: 'Axis';
  src: url('fonts/Axis/Axis-ExtraBold.eot') format('eot'),
    url('fonts/Axis/Axis-ExtraBold.woff') format('woff'),
    url('fonts/Axis/Axis-ExtraBold.woff2') format('woff2');
	font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BluuNext';
  src: url('fonts/BluuNext/BluuNext-Titling.ttf') format('truetype'),
      url('fonts/BluuNext/BluuNext-Titling.woff2') format('woff2'),
      url('fonts/BluuNext/BluuNext-Titling.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}