/*__ Fonts __*/

@import "fonts.css";

/*__ Root __*/

:root {
  --view-mode: 75vh;
  --color-contrast: white;
  --color-1: #f40000;
  --color-2: white;
  --color-3: var(--color-1);
  --color-filter: none;
  /* --easing: ease-in-out; */
  --easing: cubic-bezier(0.175, 0.885, 0, 1);
  --fadeIn: fadeIn 400ms forwards var(--easing);
}

:root.dark-mode {
  --color-1: #f40000;
  --color-2: #242424;
  --color-3: #444444;
  --color-filter: brightness(0) saturate(100%) invert(24%) sepia(0%) saturate(0%) hue-rotate(202deg) brightness(103%) contrast(90%);
}

:root.is-fullscreen {
  --view-mode: 100vh;
}

::selection {
  background: #000;
  background: rgba(0, 0, 0, .99);
  color: #fff;
}

::-moz-selection {
  background: #000;
  background: rgba(0, 0, 0, .99);
  color: #fff;
}

/*__ Swup __*/

.swup-fade {
  opacity: 1;
}

html.is-animating .swup-fade {
  opacity: 0;
}

html.swup-enabled {
  background-color: black;
}

/*__ Global __*/

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'HKGrotesk', sans-serif;
  color: var(--color-3);
  font-size: 6vw;
  line-height: 6vw;
  font-weight: bold;
  font-variant-ligatures: normal;
  text-rendering: optimizeLegibility;
}

*:not(small) {
  letter-spacing: -0.02vw;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* transition: background-color 300ms ease-out; */
}

html {
  background-color: var(--color-2);
}

html.on {
  background-color: black;
}

/*__ Reveal __*/

main.reveal * {
  font-size: 2vw;
  line-height: 2vw;
  color: white;
}

/* main.reveal *:-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

main.reveal body * {
  scrollbar-width: none;
} */

#slideshow-container {
  position: absolute;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
}

#slideshow-container.is-fullscreen {
  height: 100vh;
  width: 75vw;
  top: 0;
  z-index: +50;
}

.reveal .slide-background {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.reveal .slide-background-content {
  height: var(--view-mode) !important;
  max-height: 1080px;
}

section.present.on-top {
  z-index: +1000 !important;
  pointer-events: none !important;
}

section.intro.on-top {
  background-color: black;
}

#noscript {
 position: absolute;
 height: 100vh;
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: center;
}

#noscript p {
  font-size: 22px;
  color: white;
}

#click-area {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: +150;
  user-select: none;
}

#click-area a {
  cursor: none;
  /* opacity: 0; */
}

.half-vw {
  position: inherit !important;
  height: 100%;
  width: 50%;
  pointer-events: auto;
}

.half-vw:first-of-type {
  left: 0;
}

.half-vw:last-of-type {
  right: 0;
}

#arrow {
  position: absolute;
  pointer-events: none;
  color: var(--color-contrast);
  opacity: 0.2;
  transition: transform 300ms ease, font-size 300ms ease;
  transform: rotate(45deg);
  font-size: 0vw;
  font-weight: bold;
}

#arrow:after {
  content:'âŒ';
}

#prev:hover #arrow {
  transform: rotate(-315deg) scale(-1);
}

.intro {
  flex-direction: column;
}

.intro > * {
  padding: 2vw;
  opacity: 0;
  transform: translateY(3vw);
}

.fade-in {
  /* opacity: 1;
  transform: translateY(0); */
  /* transition: transform 600ms ease-out, opacity 300ms ease-out; */
  animation: var(--fadeIn);
}

.fade-in:nth-child(1) { animation-delay: 200ms }
.fade-in:nth-child(2) { animation-delay: 300ms }
.fade-in:nth-child(3) { animation-delay: 400ms }

#back-to-home {
  pointer-events: all;
}

.intro > .dida {
  flex: auto;
  display: flex;
  align-items: center;
}

.intro > .dida * {
  font-size: 3vw;
  line-height: 3vw;
}

.intro > a:first-of-type {
  z-index: +1;
}

.intro > .dida > a {
  text-decoration: none;
  position: absolute;
  cursor: none;
  pointer-events: all;
  display: flex;
  align-items: center;
  width: 50vw;
  height: 100vh;
}

.intro > .dida > a:last-of-type {
  transform: scale(-1);
}

.intro > .dida > a:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: inherit;
  height: inherit;
  margin: 0 -12.5vw;
  transform: scale(0.02);
  clip-path: circle();
  background-color: white;
  transition: transform 300ms var(--easing);
}

.intro > .dida > a:hover:after {
  transform: scale(0.06);
}

.intro > .dida > div {
  max-width: 50vw;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  main.reveal * {
    font-size: 22px;
    line-height: 22px;
  }
  .intro > .dida > div * {
    font-size: 36px;
    line-height: 36px;
  }
  .intro > .dida > a {
    display: none !important;
  }
  .intro > .dida > div {
    max-width: none !important;
  }
}

/*__ Reveal > Overrides __*/

.slides > section:not(.intro) {
  align-items: center;
  justify-content: center;
}

.slides > section img, video {
  object-fit: contain;
  height: auto;
  max-height: var(--view-mode);
  max-width: 100%;
  border-radius: 2vw;
}

.slides > section .media-wrap, img {
  max-width: 1920px;
}

.slides > section iframe {
  width: calc(var(--view-mode) * calc(16 / 9));
  height: var(--view-mode);
  border-radius: 2vw;
}

/*__ Helpers __*/

.is-spaced {
  padding-bottom: 15vw;
}

.center,
.container {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.keep {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.indent {
  text-indent: 5%;
}

.is-color-1 {
  color: var(--color-1);
}

.is-color-2 {
  color: var(--color-2);
}

.is-color-3 {
  color: var(--color-3);
}

.has-cursor-pointer {
  cursor: pointer;
}

.no-fullscreen {
  display: none !important;
}

.hyphens-on {
  hyphens: auto;
}

.has-pointer-events {
  pointer-events: auto;
}

.has-bg-animated.present {
  animation-name: bgAnimation;
  animation-duration: 4s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 100ms;
}

.has-bg-animated.present video {
  mix-blend-mode: darken;
}

small {
  font-size: 3vw !important;
  line-height: 3vw !important;
  font-weight: 900;
  padding-left: 0.2vw;
}

small:not(.keep) {
  display: inline-block;
  padding: 0 0 2vw 0.3vw;
}

main.reveal small {
  font-size: 1.5vw !important;
  line-height: 1.5vw !important;
  font-weight: normal;
}

/*__ Index __*/

main.index {
  height: 100%;
}

main.index *:not(small) {
  font-family: 'Maison', 'HKGrotesk', sans-serif;
}

main.index p {
  padding: 3.5vw 10vw 1.5vw 10vw;
}

main.index header {
  position: absolute;
  height: calc(100% + 25vw);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  overflow: hidden;
  padding-bottom: 25vw;
  background-color: var(--color-2);
}

main.index header > * {
  opacity: 0;
  animation: var(--fadeIn);
  padding: 2vw;
}

main.index header > p:nth-of-type(2) {
  padding: 0 2vw;
  text-align: center;
  padding: 0 10vw;
}

a {
  color: inherit;
  /* padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-left: -0.5vw;
  margin-right: -0.5vw; */
  cursor: pointer;
}

a:hover {
  text-decoration: none !important;
}

a:focus {
  text-decoration: none !important;
}

main.index a {
  text-decoration: overline;
}

#reveal a {
  text-decoration: underline;
}

/* img {
  animation: fadein 1s forwards ease-out;
} */

.spinner {
  position: fixed;
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: +10;
  pointer-events: none;
  animation: spinnerBg 2000ms forwards ease-out;
}

.spinner * {
  color: #f40000;
  animation: spinner 1750ms forwards var(--easing);
  opacity: 0;
}

@keyframes spinnerBg {
  0% {
    background-color: white;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes spinner {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  } 
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(180deg);
  }
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: +1;
  pointer-events: none;
  /* mix-blend-mode: exclusion; */
}

#mask {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: +10;
  pointer-events: none;
}

#hole {
  background: radial-gradient(circle, transparent 50%, black 50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 100vmax black;
}

#hole {
  width: 500vmax;
  height: 500vmax;
}

#hole.in {
  animation: holeIn 600ms forwards ease-in-out;
}

#mask.on #hole {
  animation: holeOut 600ms forwards ease-in-out;
}

@keyframes holeIn {
  from {
    width: 0.01vmax;
    height: 0.01vmax;
  } to {
    width: 500vmax;
    height: 500vmax;
  }
}

@keyframes holeOut {
  from {
    width: 500vmax;
    height: 500vmax;
  } to {
    width: 0vmax;
    height: 0vmax;
  }
}

/* main.index #mask {
  height: 100vh;
  width: 100vw;
  z-index: +100;
  position: fixed;
  pointer-events: none;
  background-color: black;
  transition: 500ms;
  opacity: 100;
  clip-path: ellipse(0vmax 0vmax);
  mask-position: right;
}

main.index #mask.on {
  opacity: 100%;
  clip-path: ellipse(100vmax 100vmax);
} */

main.index #portrait {
  /* display: none; */
  height: 100vh;
  max-width: 100%;
  /* min-width: 50%; */
  z-index: -1;
  position: fixed;
  right: 0;
  object-fit: cover;
  object-position: 70% 50%;
}

.asterix {
  display: inline-block;
  cursor: pointer;
  transition: transform 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  pointer-events: all;
}

.asterix:hover {
  transform: rotate(60deg);
}

main.index .asterix span {
  position: absolute;
  background-color: var(--color-1);
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: burst 300ms ease-in-out;
}

main.index .asterix:hover span {
  clip-path: ellipse(100% 100%);
}

.pageclip-form {
  padding: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageclip-form * {
  padding: 0;
  outline: none;
  border: none;
  text-decoration: overline;
}

.pageclip-form *:not(:first-child) {
  padding-left: 2vw;
}

.pageclip-form input {
  background-color: transparent;
  animation-delay: 0.5s;
  flex-grow: 1;
  width: 0%;
}

.pageclip-form button {
  cursor: pointer;
  background: none;
  border: none;
}

#main {
  position: relative;
  top: calc(100% + 15vw);
  background-color: var(--color-2);
  padding: 10vw 0;
  z-index: +2;
  clip-path: polygon(0% 0%, 100% 10vw, 100% 100%, 0% calc(100% - 10vw));
  -webkit-clip-path: polygon(0% 0%, 100% 10vw, 100% 100%, 0% calc(100% - 10vw));
}

main.index footer {
  position: relative;
  top: calc(100% - 10vw);
  padding-top: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--color-2);
}

/*__ Index __*/

#grid-for-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#grid-for-cards > a.off {
  display: none;
}

@media screen and (min-width: 600px) {
  #grid-for-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  #grid-for-cards {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 3000px) {
  #grid-for-cards {
    grid-template-columns: repeat(4, auto);
  }
  #grid-for-cards > a.off {
    display: block;
  }
  #grid-for-cards > a:last-of-type {
    display: none;
  }
}

@media screen and (min-width: 4000px) {
  #grid-for-cards {
    grid-template-columns: repeat(5, auto);
  }
  #grid-for-cards > a.off {
    display: none;
  }
  #grid-for-cards > a:last-of-type {
    display: none;
  }
}

.card {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  transition: border-radius 100ms;
}

.card:hover {
  border-radius: 50%;
}

.card_img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

/*__ Reveal > Responsive __*/

@media screen and (max-width: 976px) {
  .only-desktop {
    display: none;
  }
  .only-mobile {
    display: block;
  }
}

@media (hover: none) and (pointer: coarse) {
  #arrow {
    opacity: 0;
  }
  #click-area {
    cursor: initial;
  }
  #click-area a {
    cursor: initial;
  }
}

@media screen and (min-width: 977px) {
  .only-mobile {
    display: none;
  }
}

/*__ Animations __*/

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(3vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes burst {
  0% {
    width: 0px;
    height: 0px;
    opacity: 50%;
  }

  100% {
    width: 36vw;
    height: 36vw;
    opacity: 0%;
  }
}

@keyframes bgAnimation {
  0%     {background-color:red;}
  27.5%  {background-color: white;}
  80.0%  {background-color:red;}
  100.0%  {background-color:red;}
}

/* section.on-top:first-of-type {
  animation: bgFix 2s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
}

@keyframes bgFix {
  from {
    background-color: black;
  }
  to {
    background-color: transparent;
  }
} */