/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*__ Fonts __*/


@import "fonts.css";


/*__ Root __*/


:root {
  --view-mode: 75vh;
  --color-contrast: white;
  --spacing: calc(2rem + 5vw);
  --color-1: #ff6d00;
  --color-1-inverted: red;
  --color-2: whitesmoke;
  --color-3: #2f32ff;
  --color-4: #121212;
  --color-5: #2f32ff;
}

:root.dark-mode {
  --color-1: peru;
  --color-1-inverted: red;
  --color-2: #242424;
  --color-3: #444444;
  --color-4: #121212;
  --color-5: whitesmoke;
}

:root.is-fullscreen {
  --view-mode: 100vh;
}

/*__ Global __*/

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: calc(19px + (-2) * ((1200px - 100vw) / (1200 - 200)));
  /* font-size: calc(14px + (18 - 14) * ((100vw - 200px) / (1200 - 200))); */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; */
}

html {
  background-color: black;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-family: "OrticaBold", Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.25;
}

/*__ Global > Text Formatting __*/

h1 {
  font-size: 2.5rem;
}

main#index .col-10 h1:not(:last-child) {
  margin-bottom: 3rem;
}

h2 {
  font-size: 2rem;
}

/* h2.col-12 {
  padding-bottom: 2.5rem;
} */

h3 {
  font-size: 1.375rem;
}

h3.col-12:first-of-type {
  padding: 0 0 2.5rem 0;
}

h4 {
  font-size: 1.15rem;
}

/* h3 {
  line-height: 1.25;
} */

h5 {
  font-size: 1rem;
}

.col-8 h5 {
  /* display: inline-block; */
  /* margin-bottom: 2rem; */
}

.col-8 h5 {
  /* margin-bottom: 2.5rem; */
}

h6 {
  font-size: .875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  /* line-height: 1.8 */
}

article a {
  text-decoration: none;
}

/*__ Global > Index __*/

footer a {
  color: var(--is-color-2);
}

footer a:hover {
  color: var(--color-1);
  text-decoration: none;
}

/*__ Global > Reveal __*/

main.reveal *:-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

main.reveal body * {
  scrollbar-width: none;
}

main.reveal * {
  color: white;
  line-height: 1.2;
}

main.reveal a {
  display: block;
  text-decoration: none;
  color: inherit;
}

#noscript {
 position: absolute;
 height: 100vh;
 width: 100vw;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}

#noscript p {
  color: white;
}

/*__ Helpers __*/

.center,
.container {
  margin-left: auto;
  margin-right: auto
}

.font-regular {
  font-weight: 400
}

.font-medium {
  font-weight: 500
}

.left {
  text-align: left
}

.right {
  text-align: right
}

.center {
  text-align: center
}

.justify {
  text-align: justify
}

.keep {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.is-color-1 {
  color: var(--color-1);
}

.is-color-2 {
  color: var(--color-2);
}

.is-color-3 {
  color: var(--color-3);
}

.is-color-4 {
  color: var(--color-4);
}

.is-color-5 {
  color: var(--color-5);
}

.has-cursor-pointer {
  cursor: pointer;
}

.no-fullscreen {
  display: none !important;
}

#lottieContainer {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  pointer-events: none;
}

#lottieContainer svg {
  min-height: 100vw;
  min-width: 100vh;
  width: auto !important;
}

.bottom-4 {
  padding-bottom: 4rem;
}

.bottom-2_5 {
  padding-bottom: 2.5rem;
}

.bottom-2 {
  padding-bottom: 2rem;
}

.bottom-1 {
  padding-bottom: 1rem;
}

/*__ Grid System __*/

.container {
  width: 90%;
}

.row {
  position: relative;
  width: 100%;
  /* margin-bottom: 4rem; */
}

.row [class^=col] {
  float: left;
  margin: .5rem 2%;
  min-height: .125rem;
}

.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  width: 96%
}

.col-1-sm {
  width: 4.33%
}

.col-2-sm {
  width: 12.66%
}

.col-3-sm {
  width: 21%
}

.col-4-sm {
  width: 29.33%
}

.col-5-sm {
  width: 37.66%
}

.col-6-sm {
  width: 46%
}

.col-7-sm {
  width: 54.33%
}

.col-8-sm {
  width: 62.66%
}

.col-9-sm {
  width: 71%
}

.col-10-sm {
  width: 79.33%
}

.col-11-sm {
  width: 87.66%
}

.col-12-sm {
  width: 96%
}

.row:after {
  content: '';
  display: table;
  clear: both
}

.hidden-sm {
  display: none
}

@media only screen and (min-width:33.75em) {
  .container {
    width: 80%
  }
}

@media only screen and (min-width:45em) {
  .col-1 {
    width: 4.33%
  }

  .col-2 {
    width: 12.66%
  }

  .col-3 {
    width: 21%
  }

  .col-4 {
    width: 29.33%
  }

  .col-5 {
    width: 37.66%
  }

  .col-6 {
    width: 46%
  }

  .col-7 {
    width: 54.33%
  }

  .col-8 {
    width: 62.66%
  }

  .col-9 {
    width: 71%
  }

  .col-10 {
    width: 79.33%
  }

  .col-11 {
    width: 87.66%
  }

  .col-12 {
    width: 96%
  }

  .hidden-sm {
    display: block
  }
}

@media only screen and (min-width:60em) {
  .container {
    width: 75%;
    max-width: 60rem
  }
}

/*__ Main __*/

/* footer:before {
  content: '';
  display: block;
  height: 1px;
  background-color: black;
  opacity: .1;
  margin: 4rem 0;
} */

/*__ Main > Cards __*/

#grid-for-cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(200px + 10%), 1fr));
  gap: .75rem;
  padding: 6rem 0;
}

.card {
  margin-right: 25px;
  -webkit-transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  -o-transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  width: 100%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 100%;
  /* box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1); */
  /* box-shadow: inset 0px 0px 0px 0.1rem #dadee4; */
  /* clip-path: polygon(0% 2.5%, 2.5% 0%,97.5% 0%, 100% 2.5%, 100% 97.5%, 97.5% 100%, 2.5% 100%, 0% 97.5%); */
  /* -webkit-path: polygon(0% 2.5%, 2.5% 0%,97.5% 0%, 100% 2.5%, 100% 97.5%, 97.5% 100%, 2.5% 100%, 0% 97.5%); */
}

.card:hover {
  background: var(--color-1);
  /* box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1); */
  /* transform: scale(1.10, 1.10); */
}

.card:hover .card_img  {
  opacity: 0;
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.card:hover .card_foot {
  background-color: transparent;
  opacity: 1;
}

.card:hover .card_head {
  opacity: 1;
}

.card_img {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 100%;
  /* height: 235px; */
  /* border-top-left-radius: 0.5rem; */
  /* border-top-right-radius: 0.5rem; */
  top: 0;
}

.card_head {
  position: absolute;
  padding: 24px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card_year {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--color-4);
}

.card_foot {
  /* border-bottom-left-radius: 0.5rem; */
  /* border-bottom-right-radius: 0.5rem; */
  padding: 16px 24px 24px 24px;
  opacity: 0;
  position: absolute;
  bottom: 0;
}

.card_title {
  margin-bottom: 1.25rem;
  line-height: 1.15;
  color: var(--color-4);
}

.card_category {
  color: var(--color-4);
}

/*__ Main > Animations __*/

main#index header {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
  /* margin-bottom: 10rem; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* main#index header:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(2.5deg);
  transform-origin: 0;
  z-index: -1;
} */

#titlone {
  font-size: 5rem;
  display: inline-block;
  position: relative;
}

/*Lottie custom color*/
/* header g * {
  fill: var(--color-2);
  stroke: var(--color-2);
} */

/* main#index > * {
  -webkit-animation: fade 1.5s ease 1 forwards;
          animation: fade 1.5s ease 1 forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  opacity: 0;
}

main#index:after {
  content: '';
  background: var(--color-1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-animation: swipe 1.5s ease 1 forwards;
          animation: swipe 1.5s ease 1 forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

@-webkit-keyframes swipe {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.001% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes swipe {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.001% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.001% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.001% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
} */

/*__ Reveal __*/

#click-area {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: +150;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#click-area a {
  cursor: none;
  /* opacity: 0; */
}

.half-vw {
  position: inherit !important;
  height: 100%;
  width: 50%;
  pointer-events: auto;
}

.half-vw:first-of-type {
  left: 0;
}

.half-vw:last-of-type {
  right: 0;
}

#arrow {
  position: fixed;
  pointer-events: none;
  font-size: 0;
  color: var(--color-contrast);
  opacity: .1;
}

#arrow:after {
  content:"➺";
  display: block;
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}

#prev:hover #arrow:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

main.reveal nav {
  color: white;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 18px;
  pointer-events: all;
}

section.present.on-top {
  z-index: 1000 !important;
  pointer-events: none !important;
}

.has-pointer-events {
  pointer-events: auto;
}

#slideshow-container {
  position: absolute;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
}

#slideshow-container.is-fullscreen {
  height: 100vh;
  width: 75vw;
  top: 0;
  z-index: +50;
}

.reveal .slide-background {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reveal .slide-background-content {
  height: var(--view-mode) !important;
  max-height: 1080px;
}

.project-dida-container {
  color: white;
  text-align: left;
}

.project-dida-container > * {
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.fade-in {
  -webkit-transition: opacity 1s ease-out, -webkit-transform .4s;
  transition: opacity 1s ease-out, -webkit-transform .4s;
  -o-transition: transform .4s, opacity 1s ease-out;
  transition: transform .4s, opacity 1s ease-out;
  transition: transform .4s, opacity 1s ease-out, -webkit-transform .4s;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.fade-in:nth-child(1) { -webkit-transition-delay: .2s; -o-transition-delay: .2s; transition-delay: .2s }
.fade-in:nth-child(2) { -webkit-transition-delay: .4s; -o-transition-delay: .4s; transition-delay: .4s }
.fade-in:nth-child(3) { -webkit-transition-delay: .6s; -o-transition-delay: .6s; transition-delay: .6s }

.project-dida-container .title {
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
}

#back-to-home {
  font-family: "sans-serif";
  display: inline-block;
  z-index: 1000;
  pointer-events: all;
}

.project-dida-container .title h1:first-child {
  max-width: 75%;
}

.project-dida-container .dida {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 840px;
  padding: 10px 18px;
  margin: auto;
}

.project-dida-container .dida p {
  text-indent: 2rem;
}

/*__ Reveal > Overrides __*/

.project-dida-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slides > section:not(.project-dida-container) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slides > section img, video {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  max-height: var(--view-mode);
  max-width: 100%;
  border-radius: 1rem;
}

.slides > section .media-wrap, img {
  max-width: 1920px;
}

.slides > section iframe {
  width: calc(var(--view-mode) * calc(16 / 9));
  height: var(--view-mode);
  border-radius: 1rem;
}

.swup-transition-overlay {
  pointer-events: all !important; /*to prevent breaking the navigation sys*/
  cursor: none !important;
}

/*__ Reveal > Responsive __*/

@media screen and (max-width: 976px) {
  .only-desktop {
    display: none;
  }
  .only-mobile {
    display: block;
  }
}

@media (hover: none) and (pointer: coarse) {
  #arrow {
    opacity: 0;
  }
  #click-area {
    cursor: initial;
  }
  #click-area a {
    cursor: initial;
  }
}

@media screen and (min-width: 977px) {
  .only-mobile {
    display: none;
  }
}

/*__ Reveal > Animations __*/

.has-bg-animated.present {
  -webkit-animation-name: bgAnimation;
          animation-name: bgAnimation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: steps(1);
          animation-timing-function: steps(1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.has-bg-animated.present video {
  mix-blend-mode: darken;
}

@-webkit-keyframes bgAnimation {
  0%     {background-color:red;}
  27.5%  {background-color: white;}
  80.0%  {background-color:red;}
  100.0%  {background-color:red;}
}

@keyframes bgAnimation {
  0%     {background-color:red;}
  27.5%  {background-color: white;}
  80.0%  {background-color:red;}
  100.0%  {background-color:red;}
}

section.on-top:first-of-type {
  -webkit-animation: bgFix .5s;
          animation: bgFix .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(1);
          animation-timing-function: steps(1);
}

@-webkit-keyframes bgFix {
  from {
    background-color: black;
  }
  to {
    background-color: transparent;
  }
}

@keyframes bgFix {
  from {
    background-color: black;
  }
  to {
    background-color: transparent;
  }
}









/* ofomefoeofmeofe */

.in-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
  max-width: 100%;
}

@media screen and (max-width: 976px) {
  .in-grid {
    grid-template-columns: 1fr;
    grid-gap: initial;
  }
  
  .hyphens-on {
    hyphens: auto;
  }
}









@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: center;
  animation: swing 1s infinite forwards;
}




main#index footer {
  position: relative;
  background: var(--color-3);
  padding: 9rem 0 6rem 0;
  clip-path: polygon(0% 0%, 100% 3rem, 100% calc(100% + 10px), 0% calc(100% + 10px));
  -webkit-clip-path: polygon(0% 0%, 100% 3rem, 100% calc(100% + 10px), 0% calc(100% + 10px));
}


#works {
  position: relative;
  background: var(--color-3);
  padding: 6rem 0;
  clip-path: polygon(0% 0%, 100% 3rem, 100% 100%, 0% calc(100% - 3rem));
  -webkit-clip-path: polygon(0% 0%, 100% 3rem, 100% 100%, 0% calc(100% - 3rem));
}

main#index header {
  position: relative;
  background: var(--color-3);
  padding-bottom: 6rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 3rem));
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 3rem));
}

.is-spaced {
  padding: 7.5rem 0;
}