@import "fonts.css";

/*__ Root __*/

:root {
  --view-mode: 75vh;
  /* Palette */
  --color-contrast: #fff;
  --color-1: #E21;
  --color-2: #fff;
  --color-2-inv: #000;
  --color-3: var(--color-1);
  /* --color-filter: invert(12%) sepia(68%) saturate(7484%) hue-rotate(2deg) brightness(108%) contrast(119%); */
  /* Animation */
  --easing: cubic-bezier(0.175, 0.885, 0, 1);
  --fadeIn: fadeIn 400ms forwards var(--easing);
  /* Typography */
  --big-font-size: 6vw;
  --normal-font-size: 6vw;
  --small-font-size: 1.5vw;
}

:root.dark-mode {
  /* Palette */
  --color-1:#E21;
  --color-2:#8819f7;
  --color-2-inv: #fff;
  --color-3: #000;
  /* --color-filter: invert(12%) sepia(68%) saturate(7484%) hue-rotate(2deg) brightness(108%) contrast(119%); */
}

:root.is-fullscreen {
  --view-mode: 100vh;
}

@media screen and (max-width: 600px) {
  :root {
    /* Typography */
    --big-font-size: 9vw;
    --small-font-size: 3.5vw;
  }
}

::-moz-selection {
  background: #000;
  background: rgba(0, 0, 0, .99);
  color: #fff;
}

::selection {
  background: #000;
  background: rgba(0, 0, 0, .99);
  color: #fff;
}

::-moz-selection {
  background: #000;
  background: rgba(0, 0, 0, .99);
  color: #fff;
}

/*__ Swup __*/

.swup-fade {
  opacity: 1;
}

html.is-animating .swup-fade {
  opacity: 0;
}

html.swup-enabled {
  background-color: #000;
}

/*__ Global __*/

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-family: 'HKGrotesk', sans-serif;
  color: var(--color-3);
  font-size: var(--normal-font-size);
  line-height: 1.1;
  /* font-weight: bold; */
  -webkit-font-variant-ligatures: normal;
          font-variant-ligatures: normal;
  text-rendering: optimizeLegibility;
}

*:not(small) {
  letter-spacing: -0.02vw;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* overflow-x: hidden; */
  /* transition: background-color 300ms ease-out; */
}

html {
  background-color: var(--color-2);
  -webkit-transition: background-color 750ms steps(1);
  -o-transition: background-color 750ms steps(1);
  transition: background-color 750ms steps(1);
  overflow-x: hidden;
}

/* html.on {
  background-color: #000;
} */

/*__ Reveal __*/

main.reveal * {
  font-size: 2vw;
  line-height: 2vw;
  color: white;
}

/* main.reveal *:-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

main.reveal body * {
  scrollbar-width: none;
} */

#slideshow-container {
  position: absolute;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
}

#slideshow-container.is-fullscreen {
  height: 100vh;
  width: 75vw;
  top: 0;
  z-index: +50;
}

.reveal .slide-background {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reveal .slide-background-content {
  height: var(--view-mode) !important;
  max-height: 1080px;
}

section.present.on-top {
  z-index: +1000 !important;
  pointer-events: none !important;
}

section.intro.on-top {
  background-color: #000;
}

#noscript {
 position: absolute;
 height: 100vh;
 width: 100vw;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}

#noscript p {
  font-size: 22px;
  color: white;
}

#click-area {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: +150;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#click-area a {
  cursor: none;
}

.half-vw {
  position: inherit !important;
  height: 100%;
  width: 50%;
  pointer-events: auto;
}

.half-vw:first-of-type {
  left: 0;
}

.half-vw:last-of-type {
  right: 0;
}

#arrow {
  position: fixed;
  pointer-events: none;
  color: var(--color-contrast);
  opacity: 0.2;
  -webkit-transition: font-size 300ms ease, -webkit-transform 300ms ease;
  transition: font-size 300ms ease, -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease, font-size 300ms ease;
  transition: transform 300ms ease, font-size 300ms ease;
  transition: transform 300ms ease, font-size 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 0vw;
  font-weight: bold;
}

#arrow:after {
  content:'●';
}

#prev:hover #arrow {
  -webkit-transform: rotate(-315deg) scale(-1);
      -ms-transform: rotate(-315deg) scale(-1);
          transform: rotate(-315deg) scale(-1);
}

/* #prev:hover #arrow:after {
  content:'○';
} */

.intro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro > * {
  padding: 3vw;
  opacity: 0;
  -webkit-transform: translateY(3vw);
      -ms-transform: translateY(3vw);
          transform: translateY(3vw);
}

.fade-in {
  /* opacity: 1;
  transform: translateY(0); */
  /* transition: transform 600ms ease-out, opacity 300ms ease-out; */
  -webkit-animation: var(--fadeIn);
          animation: var(--fadeIn);
}

.fade-in:nth-child(1) { -webkit-animation-delay: 200ms; animation-delay: 200ms }
.fade-in:nth-child(2) { -webkit-animation-delay: 300ms; animation-delay: 300ms }
.fade-in:nth-child(3) { -webkit-animation-delay: 400ms; animation-delay: 400ms }

#back-to-home {
  pointer-events: all;
}

.intro > .dida {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro > .dida * {
  font-size: 3vw;
  line-height: 3vw;
}

.intro > a:first-of-type {
  z-index: +1;
}

.intro > .dida > a {
  text-decoration: none;
  position: absolute;
  cursor: none;
  pointer-events: all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  height: 100vh;
}

.intro > .dida > a:last-of-type {
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

.intro > .dida > a:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: inherit;
  height: inherit;
  margin: 0 -12.5vw;
  -webkit-transform: scale(0.02);
      -ms-transform: scale(0.02);
          transform: scale(0.02);
  -webkit-clip-path: circle();
          clip-path: circle();
  background-color: white;
  -webkit-transition: -webkit-transform 300ms var(--easing);
  transition: -webkit-transform 300ms var(--easing);
  -o-transition: transform 300ms var(--easing);
  transition: transform 300ms var(--easing);
  transition: transform 300ms var(--easing), -webkit-transform 300ms var(--easing);
}

.intro > .dida > a:hover:after {
  -webkit-transform: scale(0.06);
      -ms-transform: scale(0.06);
          transform: scale(0.06);
}

.intro > .dida > div {
  max-width: 50vw;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  main.reveal * {
    font-size: 22px;
    line-height: 22px;
  }
  .intro > .dida > div * {
    font-size: 36px;
    line-height: 36px;
  }
  .intro > .dida > a {
    display: none !important;
  }
  .intro > .dida > div {
    max-width: none !important;
  }
}

/*__ Reveal > Overrides __*/

.slides > section:not(.intro) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slides > section img, video {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  max-height: var(--view-mode);
  max-width: 100%;
  border-radius: 2vw;
}

.slides > section .media-wrap, img {
  max-width: 1920px;
}

.slides > section iframe {
  width: calc(var(--view-mode) * calc(16 / 9));
  height: var(--view-mode);
  border-radius: 2vw;
}

/*__ Helpers __*/

.is-spaced {
  padding-bottom: 15vw;
}

.center,
.container {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.keep {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.indent {
  text-indent: 5%;
}

.is-color-1 {
  color: var(--color-1);
}

.is-color-2 {
  color: var(--color-2);
}

.is-color-3 {
  color: var(--color-3);
}

.has-cursor-pointer {
  cursor: pointer;
}

.no-fullscreen {
  display: none !important;
}

.hyphens-on {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.has-pointer-events {
  pointer-events: auto;
}

.has-bg-animated.present {
  -webkit-animation-name: bgAnimation;
          animation-name: bgAnimation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: steps(1);
          animation-timing-function: steps(1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.has-bg-animated.present video {
  mix-blend-mode: darken;
}

small {
  font-family: 'HKGrotesk', sans-serif !important;
  font-weight: 900;
  font-size: var(--small-font-size) !important;
  line-height: var(--small-font-size) !important;
  padding-left: 0.2vw;
  text-transform: uppercase;
}

main.index small:not(.keep) {
  display: inline-block;
  padding: 0 0 2vw 0.3vw;
}

main.reveal small {
  font-size: 1.5vw !important;
  line-height: 1.5vw !important;
}

/*__ Index __*/

#home * {
  font-family: 'BluuNext', sans-serif;
}

main.index p {
  padding: 3.5vw 10vw 1.5vw 10vw;
  cursor: default;
}

header {
  height: 100%;
}

header > * {
  cursor: default;
}

header .top, header .bottom {
  position: fixed;
  width: 100%;
  padding: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  z-index: +1;
}

header .top *, header .bottom * {
  font-size: var(--small-font-size);
  line-height: var(--small-font-size);
  font-family: 'HKGrotesk', sans-serif !important;
  font-weight: 900;
  text-transform: uppercase;
}

header > div {
  opacity: 0;
  -webkit-animation: var(--fadeIn);
          animation: var(--fadeIn);
}

header > .top {
  top: 0;
}

header > .top > span:hover {
  cursor: help !important;
}

header > .middle {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-animation-delay: 1150ms;
          animation-delay: 1150ms;
}

header > .middle p {
  display: block;
  /* padding: 0.25vw; */
  font-size: var(--big-font-size);
  text-transform: capitalize;
}

header > .bottom {
  bottom: 0;
}

/* header > .bottom a {
  text-decoration: overline;
} */

header > p:nth-of-type(2) {
  padding: 0 2vw;
  text-align: center;
  padding: 0 10vw;
}

a {
  color: inherit;
  cursor: pointer;
}

main.reveal a:hover {
  text-decoration: none !important;
}

/* #home a:hover {
  text-decoration: none !important;
  color: var(--color-2-inv);
} */


a.link {
  display: inline-block;
  text-decoration: none;
  position: relative;
}

a.link:before {
  content: "";
  position: absolute;
  background: var(--color-3);
}

a.link:hover:before {
  width: 0;
}

a.link.overline:before {
  top: -0.4vmax !important;
}

a.link:before {
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -0.4vmax;
  -webkit-transition: width .2s ease-in-out;
  -o-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

#reveal a {
  text-decoration: underline;
}

.spinner {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: +10;
  pointer-events: none;
  -webkit-animation: spinnerBg 2000ms forwards ease-out;
          animation: spinnerBg 2000ms forwards ease-out;
}

.spinner * {
  font-family: "Arial", sans-serif !important;
  /* color: #f40000; */
  -webkit-animation: spinner 1750ms forwards var(--easing);
          animation: spinner 1750ms forwards var(--easing);
  opacity: 0;
}

@-webkit-keyframes spinnerBg {
  0% {
    background-color: var(--color-2);
  }
  50% {
    background-color: var(--color-2);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes spinnerBg {
  0% {
    background-color: var(--color-2);
  }
  50% {
    background-color: var(--color-2);
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes spinner {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  } 
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spinner {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  } 
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.25; */
  -o-object-fit: cover;
     object-fit: cover;
  /* z-index: +1; */
  pointer-events: none;
  /* -webkit-filter: var(--color-filter);
          filter: var(--color-filter); */
}

#mask {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: +10;
  pointer-events: none;
}

#hole {
  background: -o-radial-gradient(circle, transparent 50%, #000 50%);
  background: radial-gradient(circle, transparent 50%, #000 50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 0 100vmax #000;
          box-shadow: 0 0 0 100vmax #000;
}

#hole {
  width: 500vmax;
  height: 500vmax;
}

#hole.in {
  -webkit-animation: holeIn 600ms forwards ease-in-out;
          animation: holeIn 600ms forwards ease-in-out;
}

#mask.on #hole {
  -webkit-animation: holeOut 600ms forwards ease-in-out;
          animation: holeOut 600ms forwards ease-in-out;
}

@-webkit-keyframes holeIn {
  from {
    width: 0.01vmax;
    height: 0.01vmax;
  } to {
    width: 500vmax;
    height: 500vmax;
  }
}

@keyframes holeIn {
  from {
    width: 0.001vmax;
    height: 0.001vmax;
  } to {
    width: 500vmax;
    height: 500vmax;
  }
}

@-webkit-keyframes holeOut {
  from {
    width: 500vmax;
    height: 500vmax;
  } to {
    width: 0.001vmax;
    height: 0.001vmax;
  }
}

@keyframes holeOut {
  from {
    width: 500vmax;
    height: 500vmax;
  } to {
    width: 0.001vmax;
    height: 0.001vmax;
  }
}

#portrait {
  display: none;
  position: fixed;
  height: 100%;
  padding: 3vw;
  width: 100%;
  z-index: +1;
  pointer-events: none;
  -o-object-fit: contain;
     object-fit: contain;
}

#portrait.on {
  display: block;
}

.switch {
  width: var(--small-font-size);
  fill: var(--color-3);
  -webkit-animation-delay: 1150ms;
          animation-delay: 1150ms;
  cursor: pointer;
  transform: scaleX(1);
  pointer-events: all;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.switch.dark-mode {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.switch:hover {
  fill: var(--color-2-inv);
  /* -webkit-transform: var(--switch-in);
      -ms-transform: var(--switch-in);
          transform: var(--switch-in); */
}

body > span {
  position: fixed;
  z-index: -1;
  background-color: var(--color-2);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  -webkit-animation: burst 750ms;
          animation: burst 750ms;
}

/* main.index .switch:hover span {
  -webkit-clip-path: ellipse(100% 100%);
          clip-path: ellipse(100% 100%);
} */

#main {
  position: relative;
  background-color: var(--color-2);
  padding: 25vw 0 15vw;
  z-index: +2;
  clip-path: polygon(0% 0%, 100% 10vw, 100% 100%, 0% calc(100% - 10vw));
  -webkit-clip-path: polygon(0% 0%, 100% 10vw, 100% 100%, 0% calc(100% - 10vw));
}

#main p {
  text-align: center;
}

footer {
  position: relative;
  padding: 3vw;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer > div {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 5vh;
}

footer > * {
  /* display: block; */
  padding: 1vw 2vw;
}

footer * {
  font-size: var(--big-font-size);
}

/*__ Index __*/

#grid-for-cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#grid-for-cards > a.off {
  display: none;
}

@media screen and (min-width: 976px) {
  #grid-for-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  #grid-for-cards {
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 3000px) {
  #grid-for-cards {
    -ms-grid-columns: (auto)[4];
    grid-template-columns: repeat(4, auto);
  }
  #grid-for-cards > a.off {
    display: block;
  }
  #grid-for-cards > a:last-of-type {
    display: none;
  }
}

@media screen and (min-width: 4000px) {
  #grid-for-cards {
    -ms-grid-columns: (auto)[5];
    grid-template-columns: repeat(5, auto);
  }
  #grid-for-cards > a.off {
    display: none;
  }
  #grid-for-cards > a:last-of-type {
    display: none;
  }
}

.card {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  -webkit-transition: border-radius 100ms;
  -o-transition: border-radius 100ms;
  transition: border-radius 100ms;
}

.card:hover {
  border-radius: 50%;
}

.card_img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

/*__ Reveal > Responsive __*/

@media screen and (max-width: 976px) {
  /* * {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  } */
  .only-desktop {
    display: none;
  }
  .only-mobile {
    display: block;
  }
}

@media (hover: none) and (pointer: coarse) {
  #arrow {
    opacity: 0;
  }
  #click-area {
    cursor: initial;
  }
  #click-area a {
    cursor: initial;
  }
}

@media screen and (min-width: 977px) {
  /* * {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
  } */
  .only-mobile {
    display: none;
  }
}

/*__ Animations __*/

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3vw);
            transform: translateY(3vw);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3vw);
            transform: translateY(3vw);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes burst {
  0% {
    width: 0px;
    height: 0px;
    /* opacity: 50%; */
  }

  100% {
    width: 300vmax;
    height: 300vmax;
    /* opacity: 0%; */
  }
}

@keyframes burst {
  0% {
    width: 0px;
    height: 0px;
    /* opacity: 50%; */
  }

  100% {
    width: 300vmax;
    height: 300vmax;
    /* opacity: 0%; */
  }
}

@-webkit-keyframes bgAnimation {
  0%     {background-color:red;}
  27.5%  {background-color: white;}
  80.0%  {background-color:red;}
  100.0%  {background-color:red;}
}

@keyframes bgAnimation {
  0%     {background-color:red;}
  27.5%  {background-color: white;}
  80.0%  {background-color:red;}
  100.0%  {background-color:red;}
}

/* section.on-top:first-of-type {
  animation: bgFix 2s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
}

@keyframes bgFix {
  from {
    background-color: #000;
  }
  to {
    background-color: transparent;
  }
} */